body {
    background-color:   #FAFFF5;
}

.head {
    height:             150px;
}

.head, .body {
    padding:            10px;
}

.logo {
    float:              left;
}

.title {
    text-align:         center;
}

.logo, .title {
    height:             100%;
}

.foot {
    clear:              both;
    height:             75px;
    padding:            10px;
}