{% extends "basic_page.html" %}
{% block main_body %}
        <div class="panel panel-default pull-left">
            <div class="panel-heading">
                <h3 class="panel-title">Server is running ...</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
        <div class="panel panel-default pull-left">
            <div class="panel-heading">
                <h3 class="panel-title">IP-Config</h3>
            </div>
            <div class="panel-body">
                <p class="shelloutput">
                    {{ip_information}}
                </p>
            </div>
        </div>
{% endblock %}